@import "fonts/fonts.css";

html {
    @apply motion-safe:scroll-smooth;
}

h1, h2, h3 {
    @apply font-display my-4 uppercase;
}

h1 {
    @apply text-3xl lg:text-5xl font-bold;
}
h2 {
    @apply text-2xl lg:text-4xl font-bold;
}
h3 {
    @apply text-xl lg:text-2xl font-bold;
}

main, article, p, span {
    @apply font-sans;
}

p {
    @apply prose my-4;
}

blockquote > p {
    @apply text-lg font-semibold text-secondary bg-neutral/5 p-6;
}

.btn {
    @apply rounded-none;
}

.card {
    @apply rounded-none;
}

.base-md {
    @apply m-auto mt-12 flex flex-col items-center;
}

.base-md img {
    @apply mx-auto w-40 h-auto;
}