---
        import Section from '../components/Section.astro'
        import Nav from '../components/Nav.astro'
        import Footer from '../components/Footer.astro'
        import TeamMembers from '../components/TeamMembers.astro'
        import Labs from '../components/Labs.astro'
        import Ecosystem from '../components/Ecosystem.astro'
        import CTA from '../components/CTA.svelte'

        import Layout from '../layouts/Layout.astro';
        import logo from '/images/logo.svg'
        import logoHor from '/images/logo-hor.svg'
        import lettering from '/images/logo-lettering.webp'

        import { Content as Manifesto } from '../data/manifesto.md'
        import { Content as Core } from '../data/core.labs.md'
        import { Content as Cedar } from '../data/cedar.labs.md'

        const getTwitterLink = (handle) => {
        return `https://twitter.com/${handle.slice(1)}`
        }

        ---

<Layout title="Underground Society NFT">
    <div id="hero" class="hero min-h-screen bg-fixed bg-[url('/images/bg2.gif')]">
        <div class="hero-overlay backdrop-contrast-125 backdrop-brightness-125 bg-opacity-20"></div>
        <div class="hero-content text-center text-neutral-content h-full items-end show-on-scroll">
            <a href="#manifesto" class="btn btn-primary shadow mb-8 motion-safe:animate-bounce">Get Started</a>
        </div>
    </div>
    <main>
        <Nav/>
        <Manifesto/>
        <Labs />
        <TeamMembers/>
        <Ecosystem/>

        <Footer/>
    </main>
</Layout>

<script defer>
const callback = function (entries) {
    entries.forEach((entry) => {

        if (entry.isIntersecting) {
            entry.target.classList.add("motion-safe:animate-fade-in-down");
        } else {
            entry.target.classList.remove("motion-safe:animate-fade-in-down");
        }
    });
};

const observer = new IntersectionObserver(callback);

const targets = document.querySelectorAll(".show-on-scroll");
targets.forEach(function (target) {
    target.classList.add("opacity-0");
    observer.observe(target);
});

const IdSections = ["manifesto", "labs", "team", "ecosystem"]
const currentSection = (sections) => {
    sections.forEach((section) => {
        const navSection = document.getElementById(`nav-section-${section.target.id}`)
        if (section.intersectionRatio > 0.3) {
            navSection.classList.add("activeSection")
        } else {
            navSection.classList.remove("activeSection")
        }
    })
}
const navObserver = new IntersectionObserver(currentSection, {threshold: 0.3})

IdSections.forEach((id) => {
    const sections = document.getElementById(id)
    navObserver.observe(sections)
})

</script>