---
import logo from '/images/logo.webp'

const wp = "https://docs.google.com/document/d/1q8JTfnohyIX9KLDNa4W3MdVNe5Ao0hEGl8IFZjPm9U8"
const lp = "https://docs.google.com/presentation/d/1yR_XYWKwBXOXT_eexN63gEPTqo6XwYU2"
---

    <!-- Navbar -->
    <div class="w-full navbar bg-base-100/60 backdrop-blur shadow-lg sticky top-0 z-50">

      <div class="flex-none navbar-start hidden lg:block">
        <ul class="menu menu-horizontal">
          <!-- Navbar menu content here -->
          <li><button><a href="#manifesto">Manifesto</a></button></li>
          <li><button><a href="#labs">Labs</a></button></li>
          <li><button><a href="#team">Team</a></button></li>
          <li class="tooltip tooltip-bottom" data-tip="Coming soon"><button disabled class="btn"><a href="#nft">NFT</a></button></li>
          <li><a href="#ecosystem">Ecosystem</a></li>
        </ul>
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-primary">Papers</label>
          <ul tabindex="0" class="menu dropdown-content p-2 shadow bg-base-100 w-52 mt-4 border border-primary shadow-2xl">
            <li><a target="_blank" href={lp}>Litepaper <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
          <li><a target="_blank" href={wp}>Whitepaper <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
        </div>
      </div>

      <div class="flex-1 mx-2 navbar-center">
              <a href="#manifesto"><img src={logo} class="w-10 h-10"></a>
      </div>


      <div class="flex-none navbar-end lg:hidden">
        <label for="my-drawer-3" class="btn btn-square btn-ghost">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </label>
      </div>

    </div>

    <slot />
