---
        import Section from './Section.astro'
        import Carousel from './Nft/Carousel.astro';
---

<Section id="talon" title="NFT">
    <div>
        <Carousel />
        <div class="flex justify-center">
            <p> Underground Society Labs NFT collection is composed of 10000 pieces, over 230 layers were hand drawn in an unique painting style inspired by the Underground Society’s universe.
                A total of 3 different factions are divided into 5 different classes to form a total of 30 different character types that bring you into a lore driven adventures.</p>
        </div>
    </div>
       
</Section>