---
export interface Props {
    id: string
    title: string
    height?: string
}

const { id, title, height } = Astro.props as Props
---

{ height === 'full' && (
    <div id={id} class="snap-start md:snap-none scroll-mt-[4rem] h-fit mb-10 p-4 min-h-screen bg-base-100">
        <h1 class="ml-16">{title}</h1>
        <slot />
    </div>
)}
{ height !== 'full' && (
    <div id={id} class="snap-start md:snap-none scroll-mt-[4rem] h-fit mb-10 p-4 bg-base-100">
        <h1 class="ml-16">{title}</h1>
        <slot />
    </div>
)}