---
        import Section from './Section.astro'
        import logo from '/images/talon.webp'
        import Ecosystem3D from './Ecosystem/Ecosystem3D'

        import {Content as Talon} from '../data/talon.ecosystem.md'
        ---

<Section id="talon" title="Talon & Staking">
    <div class="flex flex-col justify-center items-center w-full lg:w-11/12 gap-4 lg:justify-around lg:flex-row">
        <img class="w-40 h-40 lg:w-60 lg:h-60" src={logo} alt="talon picture"/>
        <Talon />
        <Ecosystem3D client:load/>
    </div>
</Section>