---
        import Section from './Section.astro'
        import logo from '/images/talon.webp'
        const talonItems = await Astro.glob('../data/*.ecosystem.md')
        const sortedItems = talonItems.sort((a, b) => Date.parse(a.frontmatter.date) - Date.parse(b.frontmatter.date))
        const sortedHtml = sortedItems.map(i => i.compiledContent())
        const sortedTitles = sortedItems.map(i => i.frontmatter.title)
        ---

<Section id="talon" title="Talon & Staking">
    <div class="flex flex-col justify-center items-center w-full gap-4 lg:flex-row">
        <img class="w-40 h-40 lg:w-60 lg:h-60 lg:mr-60" src={logo} alt="talon picture"/>

        <div class="flex flex-col gap-4"> {sortedItems.map(i => (
            <div class="flex flex-col gap-2">
                <h3>{i.frontmatter.title}</h3>
                <i.Content/>
            </div>
            )
            )}
        </div>
    </div>
</Section>