---
        import Section from '../components/Section.astro'
        import CTA from '../components/CTA.svelte'
        import logoHor from '/images/logo-hor.svg'
        const {frontmatter} = Astro.props as Props
        const ctaLink = 'https://www.twitter.com/UnderSocietyNFT'
---
<Section id="manifesto" title="Manifesto" height="full">
<div class="h-40 w-full justify-center flex items-center overflow-y-hidden">
<img src={logoHor} class="w-96 object-cover" alt="footer logo"/>
</div>
<div class="m-auto mt-20 w-fit">
<slot/>
<div class="flex w-full justify-center p-8">
<CTA link={ctaLink}>
    Follow us on Twitter
</CTA>
</div>
</div>
</Section>