---
        import Section from '../components/Section.astro'
        import CTA from '../components/CTA.svelte'
        import logoHor from '/images/logo-hor.svg'
        const {frontmatter} = Astro.props as Props
        const ctaLink = 'https://www.twitter.com/UnderSocietyNFT'
---
<div id="manifesto" class="
relative
snap-start md:snap-none scroll-mt-[4rem] h-fit mb-10 p-4 min-h-screen
bg-[url(/images/ai/boy-standing.png)] bg-fixed bg-cover bg-origin-border bg-center">
    <h1 class="relative text-fog-gray z-10">Manifesto</h1>
    <div class="w-full h-full absolute bg-neutral/20 backdrop-blur-sm absolute z-0 top-0 left-0"></div>
    <div class="p-8 w-fit mx-auto bg-base-100/50 backdrop-blur-sm">
        <div class="h-40 w-full justify-center flex items-center overflow-y-hidden ">
            <img src={logoHor} class="w-96 object-cover" alt="footer logo"/>
        </div>
        <div class="m-auto mt-20 w-fit">
            <slot/>
            <div class="flex w-full justify-center p-8">
                <CTA link=
                {ctaLink}>
                Follow us on Twitter
            </CTA>
        </div>
    </div>
</div>
</div>